.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.back {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Use min-height instead of height */
  padding: 1rem; /* Add padding to create spacing */
  box-sizing: border-box;
  background: url('./background2.jpg') no-repeat center center/cover; /* Move the background to the .main-container */
  
}
.alert{
  font-size: 18px;
  color: #ffffff;
  text-align: center;
  margin: 20px 0;
}

.alert::before,
.alert::after {
  content: "";
  display: inline-block;
  width: 30px;
  height: 2px;
  background-color: #f7efef;
  vertical-align: middle;
  margin: 0 10px;
}

